body {
    font-family: 'Kode Mono', Courier, monospace !important;
    font-size: 11px;
}

.sortable {
  cursor: pointer;
}

.sortable i {
  margin-left: 5px;
  color: #888;
  transition: color 0.3s;
}

.sortable:hover i {
  color: #555;
}

.wysihtml5-toolbar .btn{
    font-size: 10px !important
}

.select2{
    font-size: 14px !important
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.2);
}

#serverLog tr td {
    font-size: 10px;
}

.custom-attachment-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 34px;
}

.attachment-item {
    display: inline-flex;
    align-items: center;
    background-color: #00a65a; /* Verde do AdminLTE */
    color: #fff; /* Texto branco para melhor contraste */
    border: 1px solid #008d4c; /* Borda um pouco mais escura */
    border-radius: 4px;
    margin: 2px;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 1.2;
    max-width: 100%;
}

.main-footer {
    height: 50px; 
    padding: 0px 10px 0px 10px; 
    background-color: #222d32;
}

.attachment-item .remove-attachment {
    color: #fff; /* Ícone de remoção em branco */
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8; /* Ligeiramente transparente */
}

.attachment-item .remove-attachment:hover {
    opacity: 1; /* Totalmente opaco ao passar o mouse */
}

.borderless tbody tr td {
	border: 0px !important;
	padding: 2px;
}

.info-box {
    display: block;
    min-height: 50px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-content {
    padding: 0px 10px;
    margin-left: 50px;
}

.navbar a:hover {
	color: #cacaca !important;
	background: #222d32 !important
}

.main-footer td {
	color: white
}

.footer-tip {
	width: 250px; 
	color:#999; 
	font-size:12px
}

.attachment-container {
    display: flex;
    align-items: flex-start;
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 5px;
    background-color: #fff;
}

.remove-address {
    cursor: pointer;
}

.wysihtml5-sandbox p {
    margin-bottom: 0px;
}


#addAttachmentBtn {
    flex-shrink: 0;
    margin-right: 10px;
    width: 41px;;
}

#addAddressBtn {
    flex-shrink: 0;
    margin-right: 10px;
    width: 41px;
}

.sidebar .progress-group {
    padding: 10px 15px;
    margin-bottom: 0;
}

.sidebar .progress.sm {
    height: 10px;
    margin-bottom: 0;
}

.sidebar .progress-bar {
    font-size: 12px;
    line-height: 10px;
}

/*
* Styles for list/icon view
*/
#main-conteiner.list-view {
    display: block;
}

#main-conteiner.list-view .table {
    margin-bottom: 0;
}

#main-conteiner.list-view .table > tbody > tr > td {
    vertical-align: middle;
}

#main-conteiner.icon-view {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.navbar-custom-menu .navbar-nav > li > .btn {
    border-left: none !important;
}