<ul class="nav navbar-nav" >
  <li class="dropdown tasks-menu">
    <a href="#" class="dropdown-toggle" style="border: 0px; background-color: #222d32; " data-toggle="dropdown" aria-expanded="true">
      <i style="color: white;" class="fa fa-share-square-o"></i>
      <span id="progressCounter" style="display:none"  class="label label-danger">0</span>
    </a>
    <ul class="dropdown-menu">
      <li id="pgrTitleAct" style="display: none;"  class="header">Envios Ativos</li>
      <li id="pgrTitleIna" class="header">Nenhum Envio Ativo</li>
      <li>
        <ul class="menu" id="progressContainer"></ul>
      </li>
      <li class="footer">
        <a id="progressWarning" style="display: none;"  href="#">Não desligue o computador</a>
      </li>
    </ul>
  </li>
</ul>
